.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.btn {
  padding: 8px 32px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 4px;
  color: white;

  &:hover {
    background-color: #8aabe7;
  }

  &:active {
    background-color: #3678ea;
  }

  .link {
    color: white;
    text-decoration: none;
  }
}